*{
	margin:0;
	padding:0;
}

body {
	margin:0;
	font-family:Arial;
	font-size:12px;
}

/* ----- Starting navbar styles ----- */

.navbar{
	background-color: #00548b;
	height:50px;
	font-size:14px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	height:5%;
}


/* ----- Starting container styles ----- */

.pokemons{
	background-color: #0083c2;
	color: #FFFFFF;
	background-image: url(assets/images/bg.jpg);
	height:80%;
}

/* ----- Starting footer styles ----- */

.rodape{
	margin-top:50px;
	background-color: #00548b;
	height: 150px;
	text-align:center;
	padding-top: 50px;
	color: #ffffff;
	border: 0;
	border-radius: 0;
	margin-top: 0;
	height:15%;
}

.bg-2 { 
	background-color: #474e5d; /* Dark Blue */
}
